<template>
    <div v-title="pageTitle">
        <h1>{{pageTitle}}</h1>
        <nav-menu></nav-menu>
        Добавить телефон в базу
        <form-add-phone></form-add-phone>

        Удалить телефон из базы
        <form-del-phone></form-del-phone>
    </div>
</template>

<script>
    export default {
        name: 'page-edit',
        data: () => ({
            pageTitle: "Редактирование телефонов"
        })
    }
</script>
