<template>
    <div v-title="pageTitle">
        <h1>{{pageTitle}}</h1>
        <nav-menu></nav-menu>
        <p>Добро пожаловать, {{username}}!</p>
        <hr/>

        <ul>Вы можете:
            <li>Добавить телефон в базу
                <form-add-phone @changed="changesDetect"></form-add-phone>
            </li>
            <hr/>

            <li>Удалить телефон из базы
                <form-del-phone @changed="changesDetect"></form-del-phone>
            </li>
            <hr/>

            <li>Проверить телефон в базе
                <form-check-phone></form-check-phone>
            </li>
            <hr/>

            <li>Посмотреть список телефонов
                <list-phone :changes="changes"></list-phone>
            </li>
            <hr/>

            <li><a href="/api/account/logout">Выйти</a> из системы</li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: 'page-list',
        data: () => ({
            pageTitle: "Стартовая страница",
            username: sessionStorage.getItem('current_username'),
            changes: Date.now(),
            phone: '',
            allow: false,

            phoneDel: '',
            allowDel: false,

            phoneCheck: '',
            resultCheck: ''

        }),
        watch: {},
        methods: {
            changesDetect(){
                console.log('detect');
                this.changes = Date.now();
            }
        }
    }
</script>
