<template>
    <div v-title="pageTitle">
        <h1>{{pageTitle}}</h1>
        <nav-menu></nav-menu>
        Посмотреть список телефонов
        <list-phone :changes="changes"></list-phone>
    </div>
</template>

<script>
    export default {
        name: 'page-list',
        data: () => ({
            pageTitle: "Список телефонов"
        })
    }
</script>
