<template>
    <div v-title="pageTitle">
        <h1>{{pageTitle}}</h1>
        <a href="/api/account/login">По этой ссылке вы сможете зайти с помощью GitHub</a>
    </div>
</template>

<script>
    export default {
        name: 'page-login',
        data: () => ({
            pageTitle: "Вход в систему"
        })
    }
</script>
