<template>
    <div class="form-phone">
        <input-phone v-model="phone" @valid="allow=$event && phone!=''"></input-phone>
        <button v-allow="allow" @click="check">Проверить</button>
        <div>Результат проверки: {{result}}</div>
    </div>
</template>

<script>
    export default {
        data: () => ({
            phone: '',
            allow: false,
            result: ''
        }),
        watch: {
            phone(){
                this.result = '';
            }
        },
        methods: {
            check(){
                api.phone_check(this.phone)
                    .then(e => {
                        let result = ({
                            'exist': 'существует',
                            'not exists': 'не существует'
                        })[e];
                        this.result = `${this.phone} ${result}`;
                        setTimeout(function (self) {
                            self.result = ''
                        }, 5000, this);
                    });
            }
        }
    }
</script>
