<template>
    <div class="form-phone">
        <input-phone v-model="phone" @valid="allow=$event && phone!=''"></input-phone>
        <button v-allow="allow" @click="add">Добавить</button>
        <div>{{result}}</div>
    </div>
</template>

<script>
    export default {
        data: () => ({
            phone: '',
            allow: false,
            result: ''
        }),
        watch: {
            phone(){
                this.result = '';
            }
        },
        methods: {
            add(){
                api.phone_add(this.phone)
                    .then(e => {
                        let result = ({
                            'already exists': 'уже существует',
                            'added': 'добавлен'
                        })[e];
                        this.result = `${this.phone} ${result}`;
                        setTimeout(function (self) {
                            self.result = ''
                        }, 5000, this);
                        this.$emit('changed');
                    });
            }
        }
    }
</script>