<template>
    <div :class="[ valid ? 'valid' : 'invalid', value==='' ? 'empty':'' ]">
        <input :value="value" @input="validate"
               placeholder="Введите телефон."
               pattern="^\+?\d[-( ]?\d{3}[-) ]?\d{3}[- ]?\d{2}[- ]?\d{2}$|^\d{3,11}$|^$"/>
    </div>
</template>

<script>
    export default {
        name: 'input-phone',
        props: {
            value: String,
        },
        data: () => ({
            valid: true
        }),
        methods: {
            validate: function (e) {
                this.valid = e.target.isValid();
                this.$emit('input', e.target.value);
                this.$emit('valid', this.valid);
            }
        }
    }
</script>