<template>
    <div class="c-list-phone">
        <div v-for="(p,i) in phones">
            {{i + 1}}. {{p}}
        </div>
    </div>
</template>

<script>
    export default {
        name: 'list-phone',
        props: ['changes'],
        data: () => ({
            phones: JSON.parse(sessionStorage.getItem('phones') || '[]'),
        }),
        watch: {
            changes: function () {
                this.update();
            }
        },
        methods: {
            update: function () {
                api.phone_list().then(r => {
                    sessionStorage.setItem('phones', JSON.stringify(r));
                    this.phones = r;
                }, r => []);
            }
        },
        created: function () {
            this.update();
        }
    }
</script>
