<template>
    <div class="c-nav-menu">
        <span>Навигационная панель</span>
        <a href="/">Корень</a>
        <a href="/edit">Редактирование</a>
        <a href="/list">Список</a>
        <a href="/api/account/logout">Выход</a>
    </div>
</template>

<script>
    export default {
        name: 'nav-menu',
        data: () => ({})
    }
</script>
<style scoped>
    .c-nav-menu {
        display: grid;
        flex-direction: row;
        grid-template-columns: repeat(5, 180px) auto;
        grid-gap: 10px;
        align-items: center;
        justify-content: start;
    }

    .c-nav-menu > * {
        text-align: center;
        padding: 10px;
        text-decoration: none;
        color: black;
        font-size: 1.2rem;
    }

    .c-nav-menu a {
        border: outset 1px;
    }

    .c-nav-menu a:hover {
        border: inset 1px;
    }
</style>