<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/vars.css">
    <link rel="stylesheet" href="/components.css">
    <script>sessionStorage.setItem('current_username', <%- JSON.stringify(username) %>);</script>
</head>
<body>
<div id="app"></div>
<script src="/apiCall.js"></script>
<script src="/components.js"></script>
</body>
</html>