:root {
    --bg-color: darkseagreen;
    font-family: Arial;
    font-size: 12pt;
}

html {
    background-color: var(--bg-color);
}

h1 {
    padding: 10px;
}

/*валидация инпутов*/
.valid:not(.empty)::after {
    content: '✓';
    color: green;
    left: -20px;
    width: 0;
    position: relative;
}

.invalid::after {
    content: '✗';
    color: red;
    left: -20px;
    width: 0;
    position: relative;
}
